.footer {
  text-align: center;
  padding: 2rem;
  background-image: url("../img/vinedo.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #5e6061;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}

svg {
  font-size: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.creditos {
  font-size: 0.8em;
}
