@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Roboto:wght@100;400&display=swap");

.App {
  text-align: center;
  font-family: "Bodoni Moda", serif;
}

.appBar {
  background-image: url("./img/vinedo.JPG");
  background-attachment: fixed;
  background-size: cover;
  background-position: 20rem -20rem;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .appBar {
    background-position: -10rem -10rem;
  }
}

.mainShop {
  display: grid;
}
